.surface {
  padding: 25px;
  margin: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
  flex: 1 1 0px;

}

.gridRow {
  display: flex;
  width: 100%;
  flex-direction: row;
  /* justify-content: left; */
  align-items: left;
/*  justify-content: center;
  */
  flex-wrap: wrap;
  margin-top: 3rem;
  flex: 1 1 0px;
}

.gridItem {
  width: 100%;
}
